{% extends "website/layout.html" %}
{% load static %}
{% block head %}
<link href="{% static 'website/help.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div>
    {% for FAQ in FAQs %}
    <strong>{{FAQ.Question}}</strong>
    {{FAQ.Answer}}
    {% endfor %}
</div>
<br>
<form method = 'POST' action = "{% url 'help' %}">
{% csrf_token %}
Submit a suggestion:
<br>
<input type='hidden' name='choice' value='suggestion'>
<input type='text' id='subject' name='subject' placeholder='Please define the suggestion (adding a path/route, fixing a bug, improving design, etc).'>
<br>
<textarea cols=200 rows=80 name='message' placeholder="Please describe the suggestion (adding a path/route, fixing a bug, improving design, etc)."> 
</textarea>
<br>
<input type='submit'>
</form>
<form method = 'POST' action = "{% url 'help' %}">
{% csrf_token %}
Submit a query:
<br>
<input type='hidden' name='choice' value='question'>
<input type='text' id='subject' name='question' placeholder='Question'>
<br>
<input type='email' id='email' name='email' placeholder='Your Email'>
<br>
<input type='submit'>
<br>
</form>
{{message}}
{% endblock %}