.middle {
    text-align: center;
}
.right {
    text-align: right;
}
#info {
    justify-content: center;
}
@media (min-width: 768px) {
    img {
        width: 95%;
    }
    body {
        padding: 1%;
    }
    #title {
        font-size: 72px;
        margin: auto;
    }
    #prompt {
        font-size: 28px;
        padding-bottom: 2%;
    }
    #container {
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
    }
    #forms {
        display: grid;
        grid-template-rows: auto;
    }
    .form {
        padding: 1%;
    }
    .label {
        height: 100%;
        vertical-align: middle;
    }
    #midform {
        display: grid;
        grid-template-columns: auto;
        float: inline-start;
    }
    #topbar{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 20%;
    }
    #description {
        overflow : auto;
        height : 190px;
        width : 100%;
        border : 1px solid #d3d3d3;
        padding: 5px;
    }
    .row {
        text-align:center;
        margin-left:-20px;
        margin-right:-20px;
    }
}
@media (max-width: 768px) { 
    img {
        max-width: 90%;
    }
    body {
        padding: 3%;
    }
    #title {
        padding-top: 10px;
        font-size: 48px;
    }
    #prompt {
        font-size: 24px;
    }
}